@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
:root{
  --purple-light: #f53f8e;
  --purple-dark: #f5226f;
  --soft-light: #F98BBB;
  --soft-datk: #F8649A;
}

.TabbarItem--selected{
  color: var(--purple-light)!important;
}

.Gallery__bullet--active{
  background-color: var(--purple-light)!important;
}

.logo-text{
  margin: 0;
  font-size: 28vw;
  font-weight: 700;
  line-height: 0.9;

  background: linear-gradient(45deg, #f53f8e, 50%, #f5226f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.logo{
  padding-left: 10%;
  padding-right: 10%;
}

@media (min-width: 560px){
  .logo-text{
    margin: 0;
    font-size: 20vw;
    font-weight: 700;
    line-height: 0.9;
  
    background: linear-gradient(45deg, #f53f8e, 50%, #f5226f);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  .logo{
    padding-left: 20%;
    padding-right: 20%;
  }
}

.gradient-text{
  background: linear-gradient(45deg, #f53f8e, 50%, #f5226f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.logo-do {
  animation: logo-do 3.2s infinite ease-in-out;
}

@keyframes logo-do {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 15%);
  }
}

.Switch--ios .Switch__self:checked+.Switch__pseudo, .Switch--android .Switch__self:checked+.Switch__pseudo{
  background: var(--soft-light)!important;
  border-color: var(--soft-datk)!important;
}

.Switch--android .Switch__self:checked+.Switch__pseudo::before{
  background: var(--purple-light)!important;
  border-color: var(--purple-dark)!important;
}

@keyframes Spin {
  0%, 100%{
    transform: rotate(7deg) translate(0, 0);
  }
  50% {
    transform: rotate(-7deg) translate(0, 5%);
  }
}


.icon {
  animation: Spin 10s infinite ease-in-out;
  color: var(--purple-light);
}

.iconimg{
  width: 75%;
}

@media (min-width: 560px){
  .iconimg{
    width: 55%;
  } 
}

.buttonPurple{
  background: linear-gradient(135deg, #f53f8e, 50%, #f5226f);
}

.purpleText{
  color: var(--purple-dark)!important;
  font-family: "Montserrat";
}

.ModalCard__container{
  margin-bottom: 8vh!important;
}

.firstGold{
  background: linear-gradient(45deg, #FDC830, #F37335)!important;
}

.secondSilver{
  background: linear-gradient(45deg, #bdc3c7, #2c3e50)!important;
}

.thirdBronse{
  background: linear-gradient(45deg, #e53935, #e35d5b)!important;
}
